{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Nouveau Livre</h1>
    {{ include('book/_form.html.twig') }}
    <br>
    <a href="{{ path('app_book_index') }}">retour à la liste</a>
{% endblock %}
